#contextmenu {
    position: absolute;
    min-width: 100px;
    z-index: 100;
}

#contextmenu :not(:first-child) {
    margin-top: -1px;
}

.contextmenu-item {
    font: bold 14px Verdana;
    cursor: pointer;
    border: 1px solid gray;
    color: black;
    padding: 10px;
    opacity: inherit;
}

.background-animated {
    -webkit-transition-property: background-color;
    -moz-transition: background-color;
    -o-transition: background-color;
    transition: background-color;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.opacity-animated {
    -webkit-transition-property: opacity;
    -moz-transition-property: opacity;
    -o-transition-property: opacity;
    transition-property: opacity;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.position-animated {
    -webkit-transition-property: left, top;
    -moz-transition-property: left, top;
    -o-transition-property: left, top;
    transition-property: left, top;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.contextmenu-item:hover {
    background-color: #CBC9A2;
}